* {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  font-weight: bold;
}

:root {
  --controler-dimensions: 0.7vmax;
  --controler-out-dimensions: -0.7vmax;
  --white: #fff;
  --theme: #1a1a1a;
  --card-width: 23vw;
  --btn-width: 18vw;
  --blur-width: 15vw;
}

body {
  height: 100vh;
  width: 100vw;
  background-color: var(--theme);
  display: flex;
  justify-content: center;
  align-items: center;
}
@mixin center{
  display: flex;
  justify-content: center;
  align-items: center;
}
@mixin shadow {
  -webkit-box-shadow: 3px 6px 28px -2px rgba(0, 0, 0, 0.45);
  -moz-box-shadow: 3px 6px 28px -2px rgba(0, 0, 0, 0.45);
  box-shadow: 3px 6px 28px -2px rgba(0, 0, 0, 0.45);
}

.rect {
  margin-top: -10vh;
  position: relative;
  width: 600pt;
  height: 300pt;
  background-color: var(--white);
  @include shadow;
  @include center;
}
/* controlers */

.control {
  width: var(--controler-dimensions);
  height: var(--controler-dimensions);
  background-color: var(--white);
  cursor: pointer;
  z-index: inherit;
}

.rect .control:hover {
  background-color: rgb(0, 162, 205);
}

#topleft {
  position: absolute;
  top: var(--controler-out-dimensions);
  left: var(--controler-out-dimensions);
}

#topright {
  position: absolute;
  top: var(--controler-out-dimensions);
  right: var(--controler-out-dimensions);
}

#bottomleft {
  position: absolute;
  bottom: var(--controler-out-dimensions);
  left: var(--controler-out-dimensions);
}

#bottomright {
  position: absolute;
  bottom: var(--controler-out-dimensions);
  right: var(--controler-out-dimensions);
}
/* card */

%cards {
  position: fixed;
  right: 1vw;
  bottom: 1vw;
  background-color: var(--white);
  width: var(--card-width);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  @include shadow;
}

.card {
  @extend %cards;
  height: 25vh;
}
/* minicard */

.minicard {
  animation: reversed-opacity 1s ease;
  opacity: 0.1;
  @extend %cards;
  height: auto;

  &:hover {
    animation: opacity 1s ease;
    opacity: 1;
  }
}

.style {
  font-size: 2vh;
  color: rgb(0, 162, 205);

  #down:hover & {
    animation: rotate 1.5s ease;
  }
}

.hide {
  display: none;
}
/* svg */

.up-down {
  background-color: var(--white);
  margin-top: -1vh;
  height: 3.5vh;
  width: inherit;
  cursor: pointer;
  @include center;
  border-bottom: 1px solid var(--theme);

  &:hover {
    border-bottom-color: rgb(0, 162, 205);
  }
}

.svg {
  height: 3vh;
  fill: rgb(0, 162, 205);
}

#up:hover .svg {
  animation: rotate 1.5s ease;
}
/* btns and inputs */

#grayscale,
button,
input {
  text-align: center;
  width: var(--btn-width);
  height: 2.5vh;
  color: #000;
  border: none;
  background-color: none;
  outline: none;
}

.input {
  border-bottom: 1pt solid var(--theme);

  &:hover {
    border-bottom-color: rgb(0, 162, 205);
  }

  &:focus {
    border-bottom-color: rgb(0, 162, 205);
  }
}

input[type=range] {
  width: var(--blur-width);
  -webkit-appearance: none;

  &:focus {
    outline: none;
  }

  &:hover {
    content: "blur";
  }

  &::-webkit-slider-runnable-track {
    height: 2px;
    background: var(--theme);
    border: none;
    border-radius: 3px;
    margin-bottom: -7px;
  }

  &::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 15px;
    width: 15px;
    cursor: pointer;
    border-radius: 50%;
    background: var(--theme);
    margin-top: -6px;
  }

  &::-webkit-slider-thumb:hover {
    background: rgb(0, 162, 205);
  }
}

input[type=checkbox] {
  opacity: 0;
  position: fixed;
  z-index: -9;
}

label {
  z-index: 55;
}

#grayscale {
  font-size: 0.9em;
  background: linear-gradient(90deg, rgb(198, 252, 5) 0%, rgb(7, 196, 79) 50%, rgb(0, 212, 255) 100%);

  &:hover {
    background: linear-gradient(90deg, rgb(168, 222, 0) 0%, rgb(0, 166, 49) 50%, rgb(0, 182, 225) 100%);
  }
}

#gray:checked+label #grayscale {
  background: linear-gradient(90deg, rgb(198, 198, 198) 0%, rgb(79, 79, 79) 50%, rgb(212, 212, 212) 100%);
}

#gray:checked+label #grayscale:hover {
  background: linear-gradient(90deg, rgb(168, 168, 168) 0%, rgb(49, 49, 49) 50%, rgb(182, 182, 182) 100%);
}

.randomize {
  background-color: var(--theme);
  color: var(--white);

  &:hover {
    background-color: #3c3c3c;
  }
}
/* key frames */
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }

  30% {
    transform: rotate(360deg);
  }

  65% {
    transform: rotate(450deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
@keyframes opacity {
  0% {
    opacity: 0.1;
  }

  100% {
    opacity: 1;
  }
}

@keyframes reversed-opacity {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0.1;
  }
}
