*{
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  font-weight: bold;
}
body{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
:root{
  --controler-dimensions: 0.7vmax;
  --controler-out-dimensions: -0.7vmax;
}
.page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.size {
  margin-top: 25pt;
}
.size span,.size button{
  margin-right: 7pt;
}
.rect {
  position: relative;
  width: 600pt;
  height: 300pt;
  background-color: #ddd;
  display: flex;
  justify-content: center;
  align-items: center;
}
.control {
  width: var(--controler-dimensions);
  height: var(--controler-dimensions);
  background-color: #000;
  /* border: 2pt solid #000; */
}
.control:hover{
  /* border: 2pt solid #d43; */
  background-color: #e62;
}
#topleft {
  position: absolute;
  top: var(--controler-out-dimensions);
  left: var(--controler-out-dimensions);
}
#topright {
  position: absolute;
  top: var(--controler-out-dimensions);
  right: var(--controler-out-dimensions);
}
#bottomleft {
  position: absolute;
  bottom: var(--controler-out-dimensions);
  left: var(--controler-out-dimensions);
}
#bottomright {
  position: absolute;
  bottom: var(--controler-out-dimensions);
  right: var(--controler-out-dimensions);
}
.container{
  height: 300pt;
  margin-top: 70pt;
  display: flex;
  align-items: center;
  z-index: -1;
}
#canvas {
  background: #000;
}
#canvas:hover {
  background: #d62;
}
