*{
  padding: 0;
  margin: 0;

}
body{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.rect {
  background-color: #999;
  margin-top: 50pt;
  display: flex;
  justify-content: center;
  align-items: center;
}
