* {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  font-weight: bold;
  color: #000;
}

:root {
  --controler-dimensions: 0.7vmax;
  --controler-out-dimensions: -0.7vmax;
}

body {
  background-color: #1a1a1a;
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  align-items: center;
}

.card {
  margin-left: 2vw;
  position: fixed;
  right: 1vw;
  bottom: 1vw;
  background-color: #fff;
  opacity: 0.7;
  height: 25vh;
  width: 20vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

#blur {
  transform: rotate(270deg);
  position: fixed;
  right: -5vw;
}

.size {
  margin-top: 25pt;
}

.size span, .size button {
  margin-right: 7pt;
}

.rect {
  position: relative;
  width: 600pt;
  height: 300pt;
  background-color: #ddd;
  display: flex;
  justify-content: center;
  align-items: center;
}

.control {
  width: var(--controler-dimensions);
  height: var(--controler-dimensions);
  background-color: #fff;
  z-index: inherit;
  /* border: 2pt solid #000; */
}

.container .rect .control:hover {
  /* border: 2pt solid #d43; */
  background-color: #e62;
}

#topleft {
  position: absolute;
  top: var(--controler-out-dimensions);
  left: var(--controler-out-dimensions);
}

#topright {
  position: absolute;
  top: var(--controler-out-dimensions);
  right: var(--controler-out-dimensions);
}

#bottomleft {
  position: absolute;
  bottom: var(--controler-out-dimensions);
  left: var(--controler-out-dimensions);
}

#bottomright {
  position: absolute;
  bottom: var(--controler-out-dimensions);
  right: var(--controler-out-dimensions);
}

.container {
  height: 300pt;
  margin-top: 70pt;
  display: flex;
  align-items: center;
}

#gray {
  opacity: 0;
  position: fixed;
}

button, input {
  text-align: center;
  width: 15vw;
  height: 2vh;
  color: #000;
  border: none;
  background-color: none;
  outline: none;
}

.input {
  border-bottom: 1pt solid #1a1a1a;
}

input[type=range] {
  -webkit-appearance: none;
}

input[type=range]::-webkit-slider-runnable-track {
  /* transform: rotate(270deg); */
  height: .35em;
  background: #1a1a1a;
  border: none;
  border-radius: 3px;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  /* border: none; */
  height: 1.1em;
  width: 1.1em;
  cursor: pointer;
  border-radius: 50%;
  background: #1a1a1a;
  margin-top: -4px;
}

input[type=range]:focus {
  outline: none;
}

.grayscale {
  background: linear-gradient(90deg, rgb(198, 252, 5) 0%, rgb(7, 196, 79) 50%, rgb(0, 212, 255) 100%);
}

#gray:checked+label .grayscale {
  background: linear-gradient(90deg, rgb(198, 198, 198) 0%, rgb(79, 79, 79) 50%, rgb(212, 212, 212) 100%);
}
